body
{
    background-color: rgb(240, 255, 240);
    font-family: Arial, sans-serif;
}

p
{
    color: rgb(53, 114, 28);
}
textarea
{
    color:rgba(196, 255, 232, 0.877);
    background-color:cadetblue;
    width: 77%;
    height: 150px;
    padding: 9px;
    border: 1px solid rgb(53, 114, 28);
    border-radius: 5px;
    font-size: 20px;
    resize: vertical;
}
select
{
    color:rgba(170, 26, 26, 0.877);
}
   