p{
    color: burlywood;
    font-size: 20px;
    background-color: rgb(83, 83, 167);
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    height: 80px;
    width: 250px;
    box-shadow: 10px 10px 5px grey;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
iframe{
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 290px;
}