body {
    background-color: #5d928bd0;
    font-family:cursive, sans-serif, sans-serif;
    margin: 0;
    padding: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f9f9ff;
}
input{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #f8f1f1;
    border-radius: 4px;
    width:80%;
    box-sizing: border-box;
    color:black;
    background-color: lemonchiffon;
}